body{
    background:linear-gradient(to right,rgb(255, 180, 180), white);
}
.d-flex{
    margin-left: 2%;
}
.d-flex img{
    padding:10%;
    width:250px;
    height: 300px;
}
.toppings{
    font-family: cursive;
    margin-top: 15px;
}
.p-2{
    border: thin solid black;
    margin: 10px;
}
.p-2 button{
    margin-left: 30px;
    background-color: rgb(34, 30, 30);
    color: whitesmoke;
    width: 200px;
}
footer{
    margin-top: 2%;
    text-align:left;
    background-color: black;
    bottom: 0%;
    height: 40px;
}