body{
     
    background-image: url("https://www.thespruceeats.com/thmb/BSd5zDcISps0ro1XoH34GQ6kK7U=/2121x1414/filters:fill(auto,1)/GettyImages-968466692-00eb27145abb4498a1258711de9bc3d5.jpg");
    background-size: cover;
}
