body{
    background: linear-gradient(to right, rgb(151, 239, 255), white);
}

.b_img{
    height: 75vh;
    opacity: 0.9;
}
.our_speciality{
    color:black;
    font-family:cursive ;   
}
.browse_cakes:hover{
    color: blue;
}
.iwp{
    font-family: cursive;
}
.cfa{
    font-family: cursive;
}
.choc{
    color:black
}
.bm{
    height: 40vh;
}
.am{
    width: 410px;
}

a{
    text-decoration: none;
    color:black
}

footer{
    margin-top: 5%;
    padding:5%;
    overflow-x: hidden;
}